<launch>
  <param name="/use_sim_time" value="true"/>

  <!-- ゾーンの取得 -->
  <arg name="zone" default="red"/>

  <remap from="base_scan" to="scan" />

  <include file="$(find robocon19_localization)/launch/move_base.launch"/>
  <include file="$(find robocon19_localization)/launch/amcl.launch"/>
  <node name="robocon19_sim_stage_node" pkg="robocon19_sim_stage" type="robocon19_sim_stage_node" output="screen"/>
  <node name="joy_node" pkg="joy" type="joy_node" />

  <!-- 赤ゾーンでマップを起動 -->
  <group if="$(eval zone=='red')">
    <node name="map_server" pkg="map_server" type="map_server" args="$(find robocon19_map)/map/red/red.yaml" respawn="false"/>
    <node pkg="stage_ros" type="stageros" name="stageros" args="$(find robocon19_map)/map/red/red.world" respawn="false">
      <param name="base_watchdog_timeout" value="0.2"/>
    </node>
  </group>

  <!-- 青ゾーンでマップを起動 -->
  <group if="$(eval zone=='blue')">
    <node name="map_server" pkg="map_server" type="map_server" args="$(find robocon19_map)/map/blue/blue.yaml" respawn="false"/>
    <node pkg="stage_ros" type="stageros" name="stageros" args="$(find robocon19_map)/map/blue/blue.world" respawn="false">
      <param name="base_watchdog_timeout" value="0.2"/>
    </node>
  </group>

  <arg name="rvizconfig" default="$(find robocon19_sim_stage)/config/SETTING.rviz" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robocon19_sim_stage)/config/SETTING.rviz" />
</launch>
