<launch>

  <!-- 機体中心とLRFの位置関係を定義 -->
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" args="0.0 0.29 0.0 0.0 0.0 -0.707 0.707 /base_link /laser 40" />

  <!-- mapサーバーの起動 -->
  <include file="$(find robocon19_map)/launch/map_test.launch"/>

  <!-- LRFの起動 -->
  <include file="$(find robocon19_lrf)/launch/lidar.launch"/>

  <!-- レーザーオドメトリの起動 -->
  <include file="$(find robocon19_laser_odometry)/launch/laser_odometry.launch"/>

  <!-- 自己位置推定ノードの起動 -->
  <include file="$(find robocon19_navigation)/launch/amcl.launch"/>

  <!-- その他機能の起動 -->
  <node name="robocon19_node" pkg="robocon19" type="robocon19_node" output="screen"/>

  <!-- rvizの起動 -->
  <arg name="rvizconfig" default="$(find robocon19)/rviz/SETTING.rviz" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robocon19)/rviz/SETTING.rviz" />

</launch>
