<launch>
  <node name="robocon19_lrf_node"  pkg="robocon19_lrf"  type="robocon19_lrf_node" output="screen" respawn="false" >
    <param name="port"         type="string" value="/dev/ydlidar"/>
    <param name="baudrate"     type="int"    value="115200"/>
    <param name="frame_id"     type="string" value="laser"/>
    <param name="low_exposure"  type="bool"   value="false"/>
    <param name="resolution_fixed"    type="bool"   value="true"/>
    <param name="auto_reconnect"    type="bool"   value="true"/>
    <param name="reversion"    type="bool"   value="false"/>
    <param name="angle_min"    type="double" value="-180" />
    <param name="angle_max"    type="double" value="180" />
    <param name="range_min"    type="double" value="0.1" />
    <param name="range_max"    type="double" value="16.0" />
    <param name="ignore_array" type="string" value="" />
    <param name="samp_rate"    type="int"    value="9"/>
    <param name="frequency"    type="double" value="7"/>
  </node>

  <!-- <node pkg="tf" type="static_transform_publisher" name="safas" args="0.0 0.0 0.0 0.0 0.0 0.0 /map /base_footprint 40" /> -->

  <!-- <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_base_link" args="0.0 0.0 0.0 0.0 0.0 0.0 /base_footprint /base_link 40" /> -->

  <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser"
    args="0.29 0.0 0.0 0.0 0.0 1.0 0 /base_link /laser 40" />
</launch>